@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

/* ==========================================================================
   FOOTER STYLES
   ========================================================================== */

.footer-main {
    background-color: v.clr("primary"); // Cambiado m. por v.
    color: v.clr("white");
    padding: v.space("lg") 0 v.space("sm");
    margin-top: v.space("xl");

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 v.space("md");
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: v.space("md"); 
        text-align: center;
    }

    .footer-brand {
        .footer-brand-name {
            font-family: v.$font-accent; 
            font-size: 1.4rem;
            color: v.clr("white");
            margin-bottom: v.space("xs");
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        
        p {
            font-size: 0.8rem;
            font-style: italic;
            opacity: 0.7;
            max-width: 250px;
            margin: 0 auto;
        }
    }

    .footer-contact {
        h4 {
            font-family: v.$font-accent;
            font-size: 1rem;
            margin-bottom: v.space("xs");
            color: v.clr("pink-light");
        }
        p {
            font-size: 0.8rem;
            opacity: 0.8;
        }
    }

    .social-links {
        display: flex;
        gap: v.space("lg");
        
        a {
            color: v.clr("white");
            font-size: 1.2rem;
            transition: color 0.3s ease;

            &:hover {
                color: v.clr("pink-light");
                transform: translateY(-3px); // Un pequeño efecto extra
            }
        }
    }

    .footer-bottom {
        margin-top: v.space("md");
        padding-top: v.space("sm");
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        width: 100%;
        
        p {
            font-size: 0.7rem;
            opacity: 0.4;
        }
    }
}