// base/_fonts.scss
@font-face {
    font-family: 'SaryBoutique';
    src: url('/assets/fonts/plex-mono/IBMPlexMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Playfair Display';
    src: url('/assets/fonts/zealand/PlaywriteNZBasic-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}