@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

/* Buttons-globales */
.btn-primary {
    // 1. Propiedades primero (Esto quita el Warning)
    font-family: v.$font-primary;
    padding: v.space("sm") v.space("lg");
    border-radius: 50px;

    // 2. Mixins después
    @include m.button-style(v.clr("primary"), v.clr("white"));
    @include m.responsive-font("p"); 
}

.btn-dark {
    border-radius: 50px;
    @include m.button-style(v.clr("dark-navy"), v.clr("white"));
}

.btn-pink-light {
    border-radius: 50px;
    @include m.button-style(v.clr("pink-light"), v.clr("dark-navy"));
}